@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root{

  --black: #000;
  --dark: #2F2F2F;
  --light: #FFFFFF;
  --main: #FF7518;
  --gray: #E1E3E5;

  --poppins: 'Poppins';
  --inter: 'Inter';
  --segeo: 'Segoe UI';
}

.App{
  width: 100%;
  max-width: 1512px;
  margin: 0 auto;
}