.benefitsCon{
    padding: 57px 166px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.benefitsCon img{
    border-radius: 15px;
}

.benefitsCon .detail{
    width: fit-content;
}

.benefitsCon .detail > div:nth-child(1){
    margin-bottom: 15px;
}

.benefitsCon .detail h2{
    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
    color: var(--main);
    margin-bottom: 10px;
}

.benefitsCon .detail .doublelist{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.benefitsCon .detail ul{
    list-style-position: inside;
}

.benefitsCon .detail li{
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
}

.benefitsCon .detail li span {
    position: relative;
    left: -10px;
  }